# Common files
.*
*.pdf
*.zip
*.gz
*.log

# Python files
*.pyc

# LaTeX Files
*.aux
*.lof
*.out
*.toc
_minted-report/

# Security / Privacy
*.pem
openstack-rc-file.sh

# Exceptions
!.gitignore
/lab3/lab3.exercice2/target/